.navbar-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    

  }
  
  .navbar-gradient {
    background: linear-gradient(90deg, #c185fdd8, rgb(162, 130, 248));
    position: relative;
    padding-top: 10px;
    padding-bottom: 70px;
    transition: background 0.3s ease-in-out;
  }
  
  .wave-svg {
    position: absolute;
    bottom: 0;
    transition: color 0.3s ease-in-out;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .wave-svg svg {
    display: block;
    width: 100%;
    height: 100px;
  }

  